.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
}

body{
    margin: 15px;
    background-color: #659DBD;
    color: #FBEEC1;
}

a{
    color: #FBEEC1;
    text-decoration: underline;
}

P{
    margin: 50px;
}

.card{
    background-color: #8D8741;
}

.btn-primary{
    background-color: #BC986A;
    border-color: #BC986A;
    color:#FBEEC1;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #BC986A;
    border-color: #BC986A;

}

.btn-primary:hover{
    background-color: #BC986A;
    border-color: #BC986A;
}